body {
    max-width: 100%;
    overflow-x: hidden;
}
nav {
    width: 100%;
}
h3 {
    margin: 0;
}
p {
    margin-top: 5px;
    margin-bottom: 0px;
}
.project-tile {
    height: 300px;
    margin: 10px;
    padding: 10px 20px 10px 20px;
    font-weight: bolder;
    z-index: 0;
    border-style: solid;
    border-width: 1px;
    border-color: lightgray;
    box-shadow: 3px 3px 10px gray;
    cursor: pointer;
}

.expand {
    -webkit-transition: all .75s; 
    -moz-transition: all .75s; 
    -ms-transition: all .75s; 
    -o-transition: all .75s; 
    transition: all .75s;
    max-height: 0;
    opacity: 0;
    margin: 0;
    padding: 0;
    overflow: hidden;
}
.main-tools {
    font-size: 18px;
    padding-top: 15px;
    -webkit-transition: all .3s; 
    -moz-transition: all .3s; 
    -ms-transition: all .3s; 
    -o-transition: all .3s; 
    transition: all .3s;
}
.project-tile:hover .expand {
    max-height: 200px;
    opacity: 1;
    padding: 5px 0px 10px 0px;
}
.project-tile:hover .main-tools {
    font-size: 14px;
    padding-top: 0px;
}
.embed-responsive {
    padding-bottom:100%;
}
.project-image {
    margin: 0 auto;
    position: absolute;
    max-height: 100%;
    padding-top: 20px;
    display: block;
}
.project-img-border {
    border: 1px solid #007ab9;
    position: relative;
    min-height: 150px;
    max-width: 210px;
    margin: 0 10px 0 10px;
    overflow: hidden;
}
footer {
    position: fixed;
    left: 0;
    bottom: 0;
    margin-top: 5px;
    background-color: gainsboro;
    text-align: center;
    width: 100%;
    clear: both;
}
/*-------- modal styling --------- */

#modal {
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    z-index: 7000;
    background: rgba(0,0,0,0.8);
    overflow: scroll;
}
  
#modal-open-btn {
    border: 0;
    background: #069;
    color: white;
    padding: 10px;
    cursor: pointer;
}
  
.modal-close {
    cursor: pointer;
    color: white;
    padding: 20px;
    z-index: 9100;
    position: absolute;
    top: 0;
    right: 0;
}
  
.modal-close:hover {
    color: red;
}

#modal-content {
    display: block;
    color: black;
    position: relative;
    margin: 100px auto;
    padding: 30px;
    border: 1px solid lightslategray;
    background: white;
}
.modal-dialog {
    position: relative;
    display: table;
    overflow-x: auto;
    overflow-y: auto;
    width: auto;
}
@media (hover:none) {
    .expand {
        max-height: 200px;
        opacity: 1;
        padding: 10px 0px 10px 0px;
    }
    .main-tools {
        font-size: 14px;
        padding-top: 0px;
    }
}