#app {
    min-height: calc(100vh - 27px);
}
body {
    max-width: 100%;
    overflow-x: hidden;
    color: rgb(26, 25, 36) !important;
}
nav {
    width: 100%;
}
.navbar {
    background-color: rgba(65, 105, 255, 0.4);
    border-color: rgb(99,108,155);
    border-width: 2px 1px 2px 1px
}
.navbar-brand {
    font-weight: bold;
    color: rgb(26, 25, 36) !important;
}
.navbar-brand:hover {
    color: gainsboro !important;
}
.navbar-nav li a {
    font-weight: bold;
    color: rgb(26, 25, 36) !important;
}
.navbar-nav li a:hover {
    color: gainsboro !important; 
}
.navbar-nav li a:focus {
    color: gainsboro !important;
    text-decoration: underline; 
}
h3 {
    margin: 0;
}
p {
    margin-top: 5px;
    margin-bottom: 0px;
}
.project-tile {
    height: 300px;
    margin: 10px;
    padding: 10px 20px 10px 20px;
    font-weight: bolder;
    z-index: 0;
    border-style: solid;
    border-width: 1px;
    border-color: rgb(99,108,155);
    box-shadow: 3px 3px 10px rgba(65, 105, 255, 0.4);
    cursor: pointer;
}

.expand {
    -webkit-transition: all .75s; 
    -moz-transition: all .75s; 
    -ms-transition: all .75s; 
    -o-transition: all .75s; 
    transition: all .75s;
    max-height: 0;
    opacity: 0;
    margin: 0;
    padding: 0;
    overflow: hidden;
}
.main-tools {
    font-size: 18px;
    padding-top: 15px;
    -webkit-transition: all .3s; 
    -moz-transition: all .3s; 
    -ms-transition: all .3s; 
    -o-transition: all .3s; 
    transition: all .3s;
}
.project-tile:hover .expand {
    max-height: 200px;
    opacity: 1;
    padding: 5px 0px 10px 0px;
}
.project-tile:hover .main-tools {
    font-size: 14px;
    padding-top: 0px;
}
.embed-responsive {
    height: 84vh;
}
.project-image {
    margin: 0 auto;
    position: absolute;
    max-height: 100%;
    max-width: 100%;
    padding-top: 20px;
    display: block;
}
.project-img-border {
    border: 1px solid #007ab9;
    position: relative;
    min-height: 150px;
    max-width: 210px;
    overflow: hidden;
}

/* About pane */
.img-margin {
    margin-right: 40px;
    height: 140px;
}
#about-text {
    width: 300px
}

/* Footer */
footer {
    margin-top: 5px;
    background-color: rgba(123,123,255, 0.5);
    border: solid;
    border-color: rgb(99,108,155);
    border-width: 2px 1px 2px 1px;
    text-align: center;
    font-weight: bold;
    color: rgb(26, 25, 36) !important;
    width: 100%;
    clear: both;
}
/*-------- modal styling --------- */

#modal {
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    z-index: 7000;
    background: rgba(0,0,0,0.8);
    overflow: scroll;
}
  
#modal-open-btn {
    border: 0;
    background: #069;
    color: white;
    padding: 10px;
    cursor: pointer;
}
  
.modal-close {
    cursor: pointer;
    color: white;
    padding: 20px;
    z-index: 9100;
    position: absolute;
    top: 0;
    right: 0;
}
  
.modal-close:hover {
    color: red;
}

#modal-content {
    display: block;
    color: black;
    position: relative;
    margin: 100px auto;
    padding: 30px;
    border: 1px solid lightslategray;
    background: white;
}

/* screen shot modals */
.modal-dialog {
    position: relative;
    height: 100%;
    width: 100%;
    /* max-height: calc(100vh - 40px);
    max-width: calc(100vh - 40px); */
}
.modal-footer {
    padding: 5px;
}
.modal-content {
    border: solid 5px;
    height: auto;
    width: auto;
    max-height: calc(100vh - 40px);
    max-width: calc(100% - 40px);
}
.modal-body {
    padding: 5px;
    height: 73vh;
    object-fit: contain;
}
.modal-img {
    max-width: 100%;
    max-height: 100%;
    display: block;
    margin: auto;
}

/* Query for completed transitions for media devices without mouses */
@media (hover:none) {
    .expand {
        max-height: 200px;
        opacity: 1;
        padding: 10px 0px 10px 0px;
    }
    .main-tools {
        font-size: 14px;
        padding-top: 0px;
    }
}